<taco-modal title="{{headerText}}" body="{{bodyText}}" actionLabel="{{confirmText}}"
    secondaryActionLabel="{{cancelText}}" type="component-projection" (tacoComponentModalConfirm)="handleConfirm()"
    (tacoComponentModalClose)="close()" [isPending]="isPending ? true : undefined">
    <div slot="component-projection">
        <taco-article size="md" headline="Taco Article" desc="Here is a taco-article component inside of a taco-modal component. ">
        </taco-article>
    </div>
</taco-modal>